@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --color-Pink: hsl(322, 100%, 66%);
    --color-Light_Pink: hsl(321, 100%, 78%);
    --color-Light_Red: hsl(0, 100%, 63%);
    --color-Very_Dark_Cyan: hsl(192, 100%, 9%);
    --color-Very_Pale_Blue: #e2effc;

    /* Fonts */
    --open_sans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;

    /*properties*/
    --padding-container: 60px 0 45px;
}

body{
    font-family: var(--open_sans);
}

p{
    font-family: var(--poppins);
}

.container{
    width: 90%;
    max-width: 1200px; /* el 90% ocupado no superará los 1200px */
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    min-height: 100vh;
    position: relative; /* para posicionar wave*/
    --wave-bottom: url(./images/bg-section-top-mobile-1.svg);
}

.hero_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.hero_logo{
    width: 45%;
    max-width: 10rem; 
    border: 1px solid red;
}

.hero_img{
    display: block; /* Se elimina el margen que traen todas las imagenes por defecto */
    width: 100%;
}

.hero_cta{
    color: var(--color-Light_Pink);
    border: 2px solid;  /*no se especifica color al borde puesto que por defecto toma el current color que este caso es light pink)*/
    border-radius: 30px;
    padding: 6px 16px;
    font-weight: 600;
    box-shadow: 0 0 1px;
}

/* Hero-Main */

.hero_main{
    text-align: center; /* Todos los elementos de hero_main estan centrados */
    color: var(--color-Very_Dark_Cyan);
}


.hero_title{
    font-family: var(--poppins);
}

.hero_paragraph{
    margin: 16px auto;
    line-height: 1.5;
    width: 90%;
}

.cta { 
    display: inline-block;
    background-color: var(--color-Pink);
    color: #fff;
    text-decoration: none;
    padding: 16px 30px;
    border-radius: 30px;
    margin-top: 16px;
    font-weight: 600;
}

.hero_picture{
    margin-top: 80px;
}

.hero_mockup{
    display: block;
    width: 100%;
    max-width: 600px;
    margin: o auto;
}

.hero_estadistics{
    border: 1px solid;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    gap: 60px;
}

.hero_item{
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid red;    
}

.hero_number{
    font-size: 60px ;
    border: 1px solid;
}

.hero_icon{
    display: block;
    border: 1px solid green;
}

/* waves */

.wave{
    position: absolute;
    /* background-color: red; */
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
}

.wave--bottom{
    left: 0;
    bottom: 0;
    background-image: var(--wave-bottom);
}

.wave--top{
    left: 0;
    top: 0;
    background-image: var(--wave-top);
}

/* Main Section*/

.section{
    background-color: var(--color-Very_Pale_Blue);
    --padding-container: 110px 0;   /* Se cambia variable para este caso */
}

.section--white{
    background-color: white;
    position: relative; /* Para agregar wave*/
    --padding-container: 150px 0;
    --wave-top: url(./images/bg-section-bottom-mobile-1.svg);
    --wave-bottom: url(./images/bg-section-top-mobile-2.svg);
}

.section_container{
    display: flex;
    flex-direction: column;
}

.section_img{
    display: block; /* Elimina margen por defecto de imagenes*/
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.section_texts{
    margin-top: 50px;
    text-align: center;
}

.subtitle{
    margin-bottom: 16px;
    font-family: var(--poppins);
}

.question{
    text-align: center;
    position: relative;
    --wave-top: url(./images/bg-section-bottom-mobile-2.svg);
    --wave-bottom: url(./images/bg-footer-top-mobile.svg);
    --padding-container: 190px 0 210px;
}

.question .wave--bottom{
    height: 50px;
}

