@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --color-Pink: hsl(322, 100%, 66%);
    --color-Light_Pink: hsl(321, 100%, 78%);
    --color-Light_Red: hsl(0, 100%, 63%);
    --color-Very_Dark_Cyan: hsl(192, 100%, 9%);
    --color-Very_Pale_Blue: #e2effc;

    /* Fonts */
    --open_sans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;

    /*properties*/
    --padding-container: 60px 0 45px;
}

body{
    font-family: var(--open_sans);
}

p{
    font-family: var(--poppins);
}

.container{
    width: 90%;
    max-width: 1200px; /* el 90% ocupado no superará los 1200px */
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    min-height: 100vh;
    /* position: relative;  */
}

.hero_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.hero_logo{
    width: 45%;
    max-width: 10rem; 
    border: 1px solid red;
}

.hero_img{
    display: block; /* Se elimina el margen que traen todas las imagenes por defecto */
    width: 100%;
}

.hero_cta{
    color: var(--color-Light_Pink);
    border: 2px solid;  /*no se especifica color al borde puesto que por defecto toma el current color que este caso es light pink)*/
    border-radius: 30px;
    padding: 6px 16px;
    font-weight: 600;
    box-shadow: 0 0 1px;
}